@model cl1_q1.Models.Empleado

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Estás seguro que deseas eliminar esto?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApeEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApeEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecNac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecNac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDistrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDistrito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FonoEmpleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FonoEmpleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecContrata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecContrata)
        </dd>
    </dl>
    
    <form asp-action="EliminarPost" asp-route-id="@Model.IdEmpleado">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
